.bg-image{
    background-image: url('https://t4.ftcdn.net/jpg/04/04/73/39/360_F_404733910_2mIXr6RbC5G3WZJFjopVsBaR3EOM6Bqy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.margin-top{
    margin-top: 30vh; //vertical height
}